main{
    display: flex;
    justify-content: space-around;
    article{
       margin: 20px;
        background-color: aqua;
        width: 200px;
    
        display: flex;
        justify-content: center;
        img{
            width: 30%;
        }
    }
}