main{
    background-color: aqua;
    
    div{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        img{
            width: 800px;
           }
    }
    section{
        display: flex;
        justify-content: center;
        article{
            background-color: green;
            margin: 10px;
            height: 200px;
        }
    }
}